{% macro email(form, type='email') %}
  <div class="form-group row align-items-center">
    <label class="col-3 col-form-label">{{form.email.label}}</label>
      <div class="col">
        {{ form.email(
          class="form-control",
          type=type,
          placeholder="e.g., calrissian@cloud.ci",
          maxlength=128,
          autocapitalize="off",
          autocorrect="off",
        ) }}
      </div>
  </div>
  {% if form.errors.email %}
    <div class="form-control-feedback">{{ form.errors.email[0] }}</div>
  {% endif %}
{% endmacro %}

{% macro password(form) %}
  <div class="form-group row align-items-center">
    <label class="col-3 col-form-label">{{form.password.label}}</label>
    <div class="col">
      {{ form.password(class="form-control", placeholder="e.g., ••••••••••") }}
    </div>
  </div>
  {% if form.errors.password %}
    <div class="form-control-feedback">{{ form.errors.password[0] }}</div>
  {% endif %}
{% endmacro %}

{% macro submit(form) %}
  {{ form.submit(class="btn btn-lg btn-primary btn-block mt-3 mb-3") }}
{% endmacro %}
