{% macro email(form, type='email') %}
  <div class="mb-4">
    <label class="text-grey-darker block mb-2">Username or Email</label>
    {{ form.email(
        class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow",
        type=type,
        placeholder="e.g., calrissian@cloud.ci",
        maxlength=128,
        autocapitalize="off",
        autocorrect="off",
      ) }}
  </div>
{% endmacro %}

{% macro new_email(form, type='email') %}
  <div class="mb-4">
    <label class="text-grey-darker block mb-2">New email</label>
    {{ form.email(
        class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow",
        type=type,
        placeholder="e.g., calrissian@cloud.ci",
        maxlength=128,
        autocapitalize="off",
        autocorrect="off",
      ) }}
  </div>
{% endmacro %}

{% macro password(form) %}
  <div class="mb-4">
    <label class="text-grey-darker block mb-2">Password</label>
    {{ form.password(class="block appearance-none w-full bg-white border border-grey-light hover:border-grey px-2 py-2 rounded shadow", placeholder="e.g., ••••••••••") }}
  </div>
{% endmacro %}

{% macro submit(form) %}
  {{ form.submit(class="bg-teal-dark hover:bg-teal text-white py-2 px-4 rounded cursor-pointer") }}
{% endmacro %}
