{% extends "base.html" %}

{% block content %}
<form class="form-auth" method=post>
  <h2 class="form-auth-heading">Change your password</h2>

  {{ form.hidden_tag() }}
  {{ form.old_password.label(class="sr-only") }}
  {{ form.old_password(class="form-control", placeholder=form.old_password.label.text) }}
  {% if form.errors.old_password %}
    <div class="form-control-feedback">{{ form.errors.old_password[0] }}</div>
  {% endif %}

  {% include 'auth/_password.html' %}
  {{ form.submit(class="btn btn-lg btn-primary btn-block mt-3")}}

  <p>Not needed? <a href="{{ url_for('dashboard.dashboard') }}">Go home</a>.</p>
</form>
{% endblock %}
