{% extends "base.html" %}
{% from 'auth/_form_fields.html' import email, password, submit %}

{% block content %}
<form class="form-auth" method=post>
  <h2 class="form-auth-heading">{{ title }}</h2>

  {{ form.hidden_tag() }}
  {{ email(form, type="text") }}
  {{ password(form) }}
  {{ submit(form) }}

  <p>
    Forgotten password? <a href="{{ url_for('auth.reset_password_request') }}">Reset your password</a>.
    <br>
    New user? <a href="{{ url_for('auth.register') }}">Register now!</a>
  </p>
</form>
{% endblock %}
