{% extends "tailwind_base.html" %}

{% block content %}
  <div class="container mx-auto h-full flex justify-center items-center">
    <div class="w-1/3">
      <h1 class="font-hairline mb-6 text-center">Login to LudoLatin</h1>
      <div class="border-teal p-8 border-t-12 bg-white mb-6 rounded-lg shadow-lg">
        <form method="post">
          {% from 'auth/_form_fields.html' import email, password, submit %}
          {{ form.hidden_tag() }}

          {{ email(form, type="text") }}
          {{ password(form) }}

          <div class="flex items-center justify-between">
            {{ submit(form) }}

              <a class="no-underline inline-block align-baseline text-sm text-blue hover:text-blue-dark float-right" href="{{ url_for('auth.reset_password_request') }}">
                Forgot Password?
              </a>
          </div>
        </form>
      </div>
      <div class="text-center">
        <p class="text-grey-dark text-sm">Don't have an account? <a href="{{ url_for('auth.register') }}" class="no-underline text-blue">Create an Account</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
