{% extends "base.html" %}
{% from 'auth/_form_fields.html' import email, password, submit %}

{% block content %}
<form class="form-auth" method=post>
  <h2 class="form-auth-heading">Please sign up</h2>

  {{ form.hidden_tag() }}

  {{ form.username.label(class="sr-only") }}
  {{ form.username(
    class="form-control",
    placeholder=form.username.label.text,
    maxlength=64,
    autocapitalize="off",
    autocorrect="off",
  ) }}
  {% if form.errors.username %}
    <div class="form-control-feedback">{{ form.errors.username[0] }}</div>
  {% endif %}

  {{ email(form) }}
  {{ password(form) }}
  {{ submit(form) }}

  <p>Already registered? <a href="{{ url_for('auth.login') }}">Click here to login</a>.</p>
</form>
{% endblock %}
