{% extends "base.html" %}
{% from 'auth/_form_fields.html' import email, password, submit %}

{% block content %}
<form class="form-auth" method=post>
  <h2 class="form-auth-heading">Please sign up</h2>

  {{ form.hidden_tag() }}

  <div class="form-group row align-items-center">
    <label class="col-3 col-form-label">{{form.username.label}}</label>
    <div class="col">
      {{ form.username(
        class="form-control",
        placeholder="e.g., Lando Calrissian",
        maxlength=64,
        autocapitalize="off",
        autocorrect="off",
      ) }}
    </div>
  </div>
  {% if form.errors.username %}
    <div class="form-control-feedback">{{ form.errors.username[0] }}</div>
  {% endif %}

  {{ email(form) }}
  {{ password(form) }}
  {{ submit(form) }}

  <p>Already registered? <a href="{{ url_for('auth.login') }}">Click here to login</a>.</p>
</form>
{% endblock %}
