Flask==0.12.2
SQLAlchemy==1.1.10
Flask-SQLAlchemy==2.2
mysql-connector-python-rf==2.2.2
Flask-SSLify==0.1.5
Flask-WTF==0.14.2
WTForms==2.1
Flask-Admin==1.5.0
Flask-Login==0.3.2
Flask-Migrate==2.0.3
Flask-Misaka==0.4.1
Flask-Principal==0.4.0
Flask-Script==2.0.5
Werkzeug==0.12.2
Flask-Blogging==0.8.0
Blogging-Plugins==0.2.0
Jinja2==2.9.6
jellyfish==0.5.6
ruamel.ordereddict==0.4.9
ruamel.yaml==0.14.6
bleach==2.0.0
markdown-nofollow==0.2.0
flask-recaptcha==0.4.2
