<div class="card card-block mt-4">
  <h4 class="card-title">Follow LudoLatin</h4>
  <h6 class="card-subtitle mb-3 text-muted">Stay up to date with our latest posts.</h6>
  <div class="d-flex flex-row justify-content-around">
    <a href="https://twitter.com/intent/user?screen_name=LudoLatin"
       class="btn btn-info"
       role="button"
       aria-pressed="true"
       style="background-color: #4099ff; border-color: #4099ff; width: 60px">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.facebook.com/LudoLatin-470881296588449"
       class="btn btn-info"
       role="button"
       aria-pressed="true"
       style="background-color: #3b5998; border-color: #3b5998; width: 60px">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/merelinguist/ludolatin"
       class="btn btn-info"
       role="button" aria-pressed="true"
       style="background-color: #24292e; border-color: #24292e; width: 60px">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
  </div>
</div>
