<div class="card-block" style="flex: initial;">
  <div class="d-flex flex-row">
    <div>
      <h4 class="card-title">Latin skills</h4>
      <h6 class="card-subtitle text-muted">
        Select a topic to improve your Latin skills. Further topics unlock as you complete them.
      </h6>
    </div>
    <div class="ml-auto"><a href="/store" class="btn btn-sm btn-success">Visit Store</a></div>
  </div>
</div>
<div class="card-block text-center">
{% for topic in topics %}
  {% if topic.id < current_topic.id %}
    <div class="mb-3">
      <a href="{{ url_for('topic.topic', topic_id=topic.id) }}">
        <div width="32" height="32" class="topicPieComplete"></div>
        <br>
        {{ current_topic.name }}
      </a>
    </div>
  {% elif topic == current_topic %}
    <div class="mb-3">
      <a href="{{ url_for('topic.topic', topic_id=topic.id) }}">
        <!--https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/-->
        <svg class="topicPieContainer" viewBox="0 0 32 32">
          <circle class="topicPie" r="15.915" cx="15.915" cy="15.915" />
        </svg>
        <br>
        {{ topic.name }}
        <br>
        ({{ progress }} / {{ topic_size }})
      </a>
    </div>
  {% elif topic.id > current_topic.id %}
    <div class="mb-3">
      <div width="32" height="32" class="topicPieLocked"></div>
      <br>
      {{ topic.name }}
      <br>
      (0 / {{ topic.quizzes | length }})
    </div>
  {% endif %}
{% endfor %}
</div>
