{% extends "base.html" %}

{% block content %}
<style>
  .topicPie {
    stroke-dasharray: {{ topic_progress }} 100;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-md card px-0"><!-- /.main -->
      {% include 'dashboard/_topics.html' %}
    </div><!-- /.main -->

    <div>&nbsp;</div> <!-- separate the columns when stacked -->

    <div class="offset-md-1 col-md" style="padding: 0"> <!-- .sidebar -->
      {% include 'dashboard/_progress_chart.html' %}

      {% include 'dashboard/_leaderboard.html' %}

      {% include 'dashboard/_account.html' %}

      {% include 'dashboard/_social.html' %}
    </div><!-- /.sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script>
  var labels = {{ day_names | tojson }};
  var data = {{ daily_scores }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>xpChart()</script>
{% endblock %}
