{% extends "base.html" %}

{% block content %}
<style>
  .topicPie {
    stroke-dasharray: {{ topic_progress }} 100;
  }
</style>

<div class="row">
  <div class="card col-md mx-3 px-0"><!-- /.main -->
    {% include 'dashboard/_topics.html' %}
  </div><!-- /.main -->

  <div class="col-md hidden-md-up">&nbsp;</div> <!-- separate the columns when stacked -->

  <div class="col col-md-5 col-lg-4"> <!-- .sidebar -->
    {% include 'common/_progress_chart.html' %}
    {% include 'dashboard/_leaderboard.html' %}
    {% include 'common/_account.html' %}
    {% include 'dashboard/_social.html' %}
  </div><!-- /.sidebar -->
</div><!-- /.row -->
{% endblock %}

{% block js %}
<script>
  var labels = {{ day_names | tojson }};
  var data = {{ daily_scores }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>xpChart()</script>
{% endblock %}
