{% block meta %}
{% block title %}
<title>LudoLatin - {{post.title}}</title>
{% endblock %}
<meta name="author" content="{{ post.user_name }}">
<meta name="keywords" content="latin, {% for tag in post.tags %}{{ tag | lower }}{{ ', ' if not loop.last }}{% endfor %}">
<meta property="og:locale" content="en_GB">
<meta property="og:type" content="article">
<meta property="og:title" content="{{ post.title }}">
{% if post.meta.summary %}
  <meta name="description" content="{{ post.meta.summary[0] }}">
  <meta property="og:description" content="{{ post.meta.summary[0] }}">
{% endif %}
<meta property="og:updated_time" content="{{ post.last_modified_date }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:site_name" content="LudoLatin">
<meta property="article:section" content="{{ post.tags[0] | title}}">
<meta property="article:published_time" content="{{ post.post_date }}">
<meta property="article:modified_time" content="{{ post.last_modified_date }}">
<meta property="article:publisher" content="https://www.facebook.com/LudoLatin-470881296588449">
<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<style>
  .hidden { display: none; }
</style>
<!-- Scripts
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
{% endblock meta %}
