{% extends "quiz/base.html" %}}

{% block content %}
<div class="card quiz">
  <div class="card-block">
    <h1 class="mb-4 text-center">Hooray!</h1>
    <h2 class="mb-4 text-center">You've earned {{ score }} aurei!</h2>
    <div class="row vdivide">
      <div class="col">
        <div class="coin-container" style="padding: 20px auto;">
        </div>
      </div>
      <div class="col mb-3">
        <div class="xpChartContainer">
          <canvas id="xpChart" width="400" height="300"></canvas>
        </div>
      </div>
    </div>
    <button
      class="btn btn-lg btn-success float-right"
      onclick="nextQuestion('{{ url_for('topic.topic', id=current_topic.id) }}')"
      autofocus
    >
      Continue
    </button>
    {% if current_user.username == None %}
      <a
        class="btn btn-lg btn-primary mr-3 float-right"
        href="{{ url_for('auth.register') }}"
      >
        Sign up today
      </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  var labels = {{ days|tojson }};
  var data = {{ daily }};
  var score = {{ score }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>
  function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
  }

  function addCoin() {
    var audio = new Audio('/static/audio/coin.mp3');
    audio.play();
    $(".coin-container").append(
      '<img src="/static/images/aureus.png" alt="Roman coin" width="60" height="60", style="margin: 5px">'
    );
  }

  (function myLoop(i) {
    sleep(180).then(() => {
      addCoin()
      if (--i) {
        myLoop(i)
      } else {
        sleep(1000).then(() => {
          var audio = new Audio('/static/audio/level-up.mp3');
          audio.play();
          xpChart()
          }
        )
      }

    });
  })(score)

  function nextQuestion(url) {
    window.location.href = url;
  }

</script>
{% endblock %}
