{% extends "quiz/quiz_base.html" %}

{% block right_col %}
<form class="form-quiz" method=post>
  {{ form.hidden_tag() }}

  <label class="sr-only" for="answer">Answer</label>
  {{ form.answer(
    class="form-control",
    id="answer",
    type="text",
    autocomplete="off",
    spellcheck="false",
    autocapitalize="off",
    autocorrect="off",
    placeholder="Enter your translation",
    value="",
    maxlength=128
  ) }}
  {% if form.errors %}
    {% for field, errors in form.errors.items(): %}
      {% for error in errors: %}
        <div class="has-error"><strong>{{ error }}</strong></div>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endblock %}

{% block card_bottom %}
  <div class="card-block rounded-bottom neutral">
    {{ form.submit(class="btn btn-lg btn-success float-right", role="button") }}
  </div>
</form>
{% endblock %}
