{% macro blank_row(user) %}
  <li class="list-group-item">
    {{ user.username }}
  </li>
{% endmacro %}

{% macro user_row(user) %}
  <li class="list-group-item {{ 'active' if user == current_user }}">
    <a href="{{ url_for('profile.view', username=user.username) }}" class="link--hidden">
      <div class="row">
        <div class="col text-nowrap">
          <span>{{ user.rank }}.</span>
          <span>{{ user.username or "Guest" }}</span>
        </div>
        <div class="col text-right">
          <span>{{ user.total_score }}</span>
          <img src="/static/images/aureus_small.png" alt="Roman coin" style="width:20px; height:20px;">
        </div>
      </div>
    </a>
  </li>
{% endmacro %}

<div class="card card-body mt-4">
  <h4 class="card-title">Leaderboard</h4>
  <h6 class="card-subtitle mb-3 text-muted">Check your progress against your nearest competitors.</h6>
  <ul class="list-group">
    {% for user in leaderboard %}
      {% if user.username == "..." %}
        {{ blank_row(user) }}
      {% else %}
        {{ user_row(user) }}
      {% endif %}
    {% endfor %}
  </ul>
</div>
