<div class="card card-block">
  <h4 class="card-title">Progress</h4>
  <h6 class="card-subtitle mb-2 text-muted">Learning a language requires practice every day.</h6>
  <div class="d-flex justify-content-around mt-2">
    <div class="d-flex flex-column text-center">
      <h2 class="orange">{{ current_user.streak }}</h2>
      <h6 class="gray">day streak</h6>
    </div>
     <div class="d-flex flex-column text-center">
      <h2 class="orange">{{ streak_time_left }}</h2>
      <h6 class="gray">hours left</h6>
    </div>
  </div>
  <div class="mx-2 mt-3">
    <canvas id="xpChart" width="300" height="225"></canvas>
  </div>
</div>
