body {
  background-color: rgb(233, 233, 233);
  font-family: 'Raleway', sans-serif;
  color: #3c3c3c;
}

.header {
  padding-bottom: 1rem;
}

h2.title {
  word-wrap: break-word;
}

.card.quiz {
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

/* Bootstrap form */
.form-auth {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.form-auth .form-auth-heading,
.form-auth .checkbox {
  margin-bottom: 10px;
}
.form-auth .checkbox {
  font-weight: normal;
}
.form-auth .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.form-auth .form-control:focus {
  z-index: 2;
}
.form-auth input {
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
}

.form-quiz .form-control {
  position: relative;
  height: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
}

/* Quiz */

.question {
  height:31px;
}

.answer {
  height:31px;
  font-family: 'Raleway', sans-serif;
}

.underline {
  background-image: url(/static/images/underline.png);
}

.quiz-checkmark {
  width: 60px;
  height: 60px
}

 /* For hint-popup content */
.hidden {
  display: none;
}

.popover-content {
  padding: 0px;
}

/* Progress bar */
.progress {
  background-color: #d9dada;
  margin-bottom: 30px;
}

.progress-bar {
  transition-duration: 0.5s;
}

/* Card bottom grey */
.neutral {
  background-color: #d9dada;
}


/* Checkmark */
.validation-container {
  display: block;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

div.success {
  font-size: 1.25em;
  color: #5cb85c;
}

div.error {
  font-size: 1.25em;
  color: #d9534f;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* Victory XP chart */
.xpChartContainer {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  background-color: white;
}

/* Victory vertical divider */
.row.vdivide [class*='col']:not(:last-child):after {
  background: #e0e0e0;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}

/* Quiz cards */
.comma :not(:last-of-type):after {
  content: ", ";
}

.ellipsis :last-of-type:after {
  content: "...";
}

/* Pie chart */
.topicPieContainer {
  width: 100px; height: 100px;
  transform: rotate(-90deg);
  background: #1cb0f6;
  border-radius: 50%;
  display: inline-block;
}

.topicPie {
  fill: #14d4f4;
  stroke: #1cb0f6;
  stroke-width: 32;
}

.topicPieLocked {
  width: 100px; height: 100px;
  background: #f0f0f0;
  border-radius: 50%;
  display: inline-block;
}

.topicPieComplete {
  width: 100px; height: 100px;
  background: #1cb0f6;
  border-radius: 50%;
  display: inline-block;
}

.topicPie:hover {
  fill: #1cdcfc;
  stroke: #24b8fe;
 }

.topicPieComplete:hover {
  background: #24b8fe
 }

.card-block a:hover {
  text-decoration: none;
}

/* Topic card */
.topicCardTitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.topicCardCheck {
  margin-top: 4px;
}

/* Buttons */
.btn {
  font-family: 'Raleway', sans-serif;
  border-width: 2px;
}

.btn-primary {
  background-color: #1caff6;
  border-color: #1caff6;
}

.btn-primary:hover {
  background-color: #0FA2E9;
  border-color: #0FA2E9;
}

.btn-success {
  background-color: #7eb530;
  border-color: #7eb530
}

.btn-success:hover {
  background-color: #71a823;
  border-color: #71a823;
}

.disabled {
  color: #999;
  border-color: #dadada;
}

.btn-secondary.disabled {
  color: #999;
  border-color: #dadada;
}

.btn-info {
  background-color: #1caff6;
  border-color: #1caff6
}

/* Topic card deck - Change breakpoint*/
/* https://codepen.io/JacobLett/pen/rWXJPV */
@media (max-width: 768px) {
	.card-deck {
	    display: block;
	    width: 100%;
	    margin-bottom: .75rem;
	    table-layout: fixed;
	    border-spacing: 1.25rem 0;
	}
	.card-deck .card {
	    display: block;
	    margin-bottom: .75rem;
	    margin-right: 0!important;
	    vertical-align: top;
	}

  .card-deck .card:not(:first-child) {
    margin-left: 0px;
  }
}

/* Fix blockquote font size for article markdown */
.blockquote {
    font-size: 0.9rem;
}

.orange {
  color: #ffbe46
}

.gray {
  color: #999
}

/* Image radio buttons */
label > input { /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + .card { /* IMAGE STYLES */
  cursor: pointer;
}

label > input:checked + .card{ /* (RADIO CHECKED) IMAGE STYLES */
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.43);
  transition: box-shadow 0.3s ease-in-out;
}

/* Fixes a known issue with bootstrap img-top */
.card-img-top {
    width: 100%;
    border-width: 1.1px;
    border-color: #dadada;
    border-bottom-style: solid;
}

.nav-profile-pic {
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}
