body {
  background-color: rgb(233, 233, 233)
}

.header {
  padding-bottom: 1rem;
}

h2.title {
  word-wrap: break-word;
}

.card.quiz {
  box-shadow: 0 0 30px rgba(0,0,0,0.08);
}

/* Bootstrap form */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
}

.form-quiz .form-control {
  position: relative;
  height: 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 23px;
}

.question {
  height:31px;
}

.answer {
  height:31px;
}

.underline {
  background-image: url(/static/images/underline.png);
}

 /* For hint-popup content */
.hidden {
  display: none;
}

.popover-content {
  padding: 0px;
}

/* Progress bar */
.progress {
  background-color: #d9dada;
  margin-bottom: 30px;
}

/* Card bottom grey */
.neutral {
  background-color: #d9dada;
}

/* Checkmark */

.validation-container {
  display: block;
}

svg {
  width: 70px;
  margin-right: 10px;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash 0.9s ease-in-out;
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
  animation: dash 0.9s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
  animation: dash-check 0.9s 0.35s ease-in-out forwards;
}

div.success {
  font-size: 1.25em;
  color: #5cb85c;
  margin-top: 10px;
}

div.error {
  font-size: 1.25em;
  color: #d9534f;
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

/* XP chart */
.xpChartContainer {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  background-color: white;
}

/* Doughnut chart */
.doughnutChartContainer {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  background-color: white;
}

.row.vdivide [class*='col']:not(:last-child):after {
  background: #e7e7e7;
  width: 2px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
