{% extends "base.html" %}

{% block content %}
<div class='card'>
  <div class="card-body">

    <h1 class="mt-4 mb-3">LudoLatin Privacy Policy</h1>

    <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally
      Identifiable Information' (PII) is being used online. PII, as described in privacy law and information security, is
      information that can be used on its own or with other information to identify, contact, or locate a single person,
      or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of
      how we collect, use, protect or otherwise handle your Personally Identifiable Information.</p>


    <h3 class="mt-4" id="changes-to-this-privacy-policy">Changes to this privacy policy</h3>

    <p>Please check this privacy policy regularly. We may update it at any time without notice.</p>

    <p>Last updated on 2017-06-13.</p>


    <h3 class="mt-4" id="data-controller-and-owner">Data Controller and Owner</h3>

    <p>If there are any questions regarding this privacy policy, you may contact us by emailing: privacy@ludolatin.com</p>

    <h2 class="mt-4" id="personal-information">Personal Information</h2>

    <h3 class="mt-4" id="what-personal-information-we-collect">What personal information we collect</h3>

    <p>When you visit the site, we collect your pubic IP address. When registering, you are asked to enter your email address.</p>


    <h3 class="mt-4" id="how-we-use-your-personal-information">How we use your information</h3>

    <p>We may use the information we collect from you when you register, sign up for our newsletter, use the website,
      or use certain other site features in the following ways:<br></p>

    <ul>
      <li>
        To personalize your experience and to allow us to deliver the type of content in which you are most interested.
      </li>
      <li>
        To enable you to reset your password.
      </li>
      <li>
        To send periodic emails regarding this service.
      </li>
    </ul>

    <h3 class="mt-4" id="how-we-protect-your-information">How we protect your information</h3>

    <p>All information you supply is encrypted in transit via Secure Socket Layer (SSL) technology.</p>


    <p>We securely hash (irreversibly encrypt) your password. (We recommend using a different password for each site you
      visit.)</p>


    <p>Your personal information is contained behind secured networks and is only accessible by a
      limited number of persons who have special access rights to such systems, and are required to keep the information
      confidential.</p>


    <p>We implement a variety of security measures when a user enters, submits, or accesses their
      information to maintain the safety of your personal information.</p>


    <h3 class="mt-4" id="third-party-disclosure">Third party disclosure</h3>

    <p>We do not sell, trade, or otherwise transfer to outside parties your Personal Information.
      We may pass on your personal information if we have a legal obligation to do so, or if we have to
      enforce or apply our terms of use and other agreements.</p>


    <h3 class="mt-4" id="third-party-links">Third party links</h3>

    <p>Our website may contain links to other websites of interest. However, once you have used these links to leave our
      site, you should note that we do not have any control over that other website. Therefore, we cannot be responsible
      for the protection and privacy of any information which you provide whilst visiting such sites, as such sites are
      not governed by this Privacy Statement. You should exercise caution and look at the Privacy Statement applicable to
      the website in question.</p>


    <h3 class="mt-4" id="child-protection">Child protection</h3>

    <p>We do not specifically market to children under the age of 13 years old.</p>


    <h2 class="mt-4" id="cookies">Cookies</h2>

    <p>Cookies are small files that store data the server transfers through your Web browser (if you allow) that enables
      the site's or service provider's systems to recognize your browser and capture and remember certain information.</p>


    <h3 class="mt-4" id="we-use-cookies-to">We use cookies to:</h3>

    <ul>
      <li>Recognise when you are logged in, and when you return to the site to remove the need to login for future visits.</li>
      <li>Manage your interaction with certain parts of the site, such as quizzes.</li>
      <li>Compile aggregate data about site traffic and site interactions in order to offer better site experiences and
        tools in the future. We may also use trusted third-party services that track this information on our behalf.</li>
    </ul>

    <h3 class="mt-4" id="cookie-control">Cookie control</h3>

    <p>You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all
      cookies. You do this through your browser settings. Since each browser is a little different, look at your browser's
      Help Menu to learn the correct way to modify your cookies.</p>

    <p>We honour Do Not Track headers if supported by your browser and enabled by you.</p>


    <h3 class="mt-4" id="what-happens-if-i-disable-cookies">What happens if I disable cookies in my browser?</h3>

    <p>If you turn cookies off, some of the features that make your site experience more enjoyable, such as quizzes will
      not function properly.</p>
  </div>
</div>
{% endblock %}
