{% extends "base.html" %}

{% block body %}
<div class='card'>
  <div class="card-block">

    <h1 class="mt-4 mb-3">LudoLatin Terms of Use</h1>

    <p>This page and any pages it links to explains LudoLatin's terms of use. You must agree to these to use
      LudoLatin.com.</p>
  
    <h2 class="mt-4" id="using-ludolatin">Using LudoLatin</h2>
  
    <p>You agree to use LudoLatin only for lawful purposes. You must also use it in a way that doesn’t infringe the rights
      of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</p>
  
    <p>We update LudoLatin all the time. We can change or remove content at any time without notice.</p>
  
    <h2 class="mt-4" id="services-and-transactions">Services</h2>
  
    <p>You can use LudoLatin free of charge to help you learn Latin. We reserve the right to add paid features in the
      future.</p>
  
    <h2 class="mt-4" id="linking-to-ludolatin">Linking to LudoLatin</h2>
  
    <p>We welcome and encourage other websites to link to LudoLatin.</p>
  
    <p>You must <a href="/contact">contact us</a> for permission if you want to either:</p>
  
    <ul>
      <li>charge your website’s users to click on a link to any page on LudoLatin</li>
      <li>say your website is associated with or endorsed by LudoLatin</li>
    </ul>
  
    <h2 class="mt-4" id="linking-from-ludolatin">Linking from LudoLatin</h2>
    <p>LudoLatin may link to websites that are managed by other service providers or
      other organisations. We don’t have any control over the content on these websites.</p>
  
    <p>We’re not responsible for:</p>
  
    <ul>
      <li>the protection of any information you give to these websites</li>
      <li>any loss or damage that may come from your use of these websites, or any other websites they link to</li>
    </ul>
  
    <p>You agree to release us from any claims or disputes that may come from using these websites.</p>
  
    <p>You should read all terms and conditions, privacy policies and end user licences that relate to these websites
      before you use them.</p>
  
    <h2 class="mt-4" id="using-ludolatin-content">Using LudoLatin content</h2>
  
    <p>Most content on LudoLatin is publised under the MIT license. To obtain a copy of the software and its content,
      please visit the site's <a href="https://github.com/merelinguist/ingenuity">GitHub repository</a>.</p>
  
    <p>Some content may be user contributed. The copyright for such content belongs to that user.</p>
  
    <p>The LudoLatin logos may be used in conjunction with positive media coverage of the site.</p>
  
    <p>We don’t give any guarantees, conditions or warranties about the accuracy or completeness of any content used by
      these products. We’re not liable for any loss or damage that may come from your use of these products.</p>
  
  
    <h2 class="mt-4" id="disclaimer">Disclaimer</h2>
    <p>While we make every effort to keep LudoLatin up to date, we don’t provide any guarantees, conditions or warranties
      that the information will be:</p>
  
    <ul>
      <li>current</li>
      <li>secure</li>
      <li>accurate</li>
      <li>complete</li>
      <li>free from bugs or viruses</li>
    </ul>
  
    <p>We’re not liable for any loss or damage that may come from using LudoLatin. This includes:</p>
  
    <ul>
      <li>any direct, indirect or consequential losses</li>
      <li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
      <li>the use of LudoLatin and any websites that are linked to or from it</li>
      <li>the inability to use LudoLatin and any websites that are linked to or from it</li>
    </ul>
  
    <p>This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it
      might happen.</p>
  
    <p>This includes (but isn’t limited to) the loss of your:</p>
  
    <ul>
      <li>income or revenue</li>
      <li>salary, benefits or other payments</li>
      <li>business</li>
      <li>profits or contracts</li>
      <li>opportunity</li>
      <li>anticipated savings</li>
      <li>data</li>
      <li>goodwill or reputation</li>
      <li>tangible property</li>
      <li>intangible property, including loss, corruption or damage to data or any computer system</li>
      <li>wasted management or office time</li>
    </ul>
  
    <p>We may still be liable for:</p>
  
    <ul>
      <li>death or personal injury arising from our negligence</li>
      <li>fraudulent misrepresentation</li>
      <li>any other liability which cannot be excluded or limited under applicable law</li>
    </ul>
  
    <h2 class="mt-4" id="requests-to-remove-content">Requests to remove content</h2>
  
    <p>You can ask for content to be removed from LudoLatin. We’ll only do this in certain cases, e.g. if it breaches
      copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory.</p>
  
    <p>Contact us at admin@ludolatin.com to ask for content to be removed. You’ll need to send us the web
      address (URL) of the content and explain why you think it should be removed. We’ll reply to let you know whether
      we’ll remove it.</p>
  
    <p>We remove content at our discretion.</p>
  
    <h2 class="mt-4" id="information-about-you-and-your-visits-to-ludolatin">
      Information about you and your visits to LudoLatin
    </h2>
  
    <p>We collect information about you in accordance with our <a href="/privacy">privacy policy</a> including
      our <a href="/privacy#cookies">cookie policy</a>. By using LudoLatin, you agree to us collecting this information
      and confirm that any data you provide is accurate.</p>
  
    <h2 class="mt-4" id="virus-protection">Virus protection</h2>
  
    <p>Whilst we make every effort to ensure that LudoLatin.com does not host malicious software, you must make sure that
      the way you use LudoLatin doesn’t expose you to the risk of viruses, malicious computer code or other forms of
      interference which can damage your computer system.</p>
  
    <p>We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you
      use LudoLatin.</p>
  
    <h2 class="mt-4" id="viruses-hacking-and-other-offences">Viruses, hacking and other offences</h2>
  
    <p>When using LudoLatin, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s
      malicious or technologically harmful.</p>
  
    <p>You must not try to gain unauthorised access to LudoLatin, the server on which it’s stored or any server, computer
      or database connected to it.</p>
  
    <p>You must not attack LudoLatin in any way. This includes denial-of-service attacks.</p>
  
    <p>We’ll report any attacks or attempts to gain unauthorised access to LudoLatin to the relevant law enforcement
      authorities and share information about you with them.</p>
  
    <h2 class="mt-4" id="governing-law">Governing law</h2>
  
    <p>These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
  
    <p>Any dispute you have which relates to these terms and conditions, or your use of LudoLatin (whether it be
      contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and
      Wales.</p>
  
    <h2 class="mt-4" id="general">General</h2>
  
    <p>There may be legal notices elsewhere on LudoLatin that relate to how you use the site.</p>
  
    <p>We’re not liable if we fail to comply with these terms and conditions because of circumstances beyond our
      reasonable control.</p>
  
    <p>We might decide not to exercise or enforce any right available to us under these terms and conditions. We can
      always decide to exercise or enforce that right at a later date.</p>
  
    <p>Doing this once won’t mean we automatically waive the right on any other occasion.</p>
  
    <p>If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining
      terms and conditions will still apply.</p>
  
    <h2 class="mt-4" id="changes-to-these-terms-and-conditions">Changes to these terms and conditions</h2>
  
    <p>Please check these terms and conditions regularly. We can update them at any time without notice.</p>
  
    <p>You’ll agree to any changes if you continue to use LudoLatin after the terms and conditions have been updated.</p>
  
    <p>Last updated on 2017-06-03.</p>
  </div>
</div>
{% endblock %}
