<div class="card-body">
  <h4 class="card-title">{{topic.name}}</h4>
  <h6 class="card-subtitle mb-4 text-muted">
    Select a quiz to check your progress. Further quizzes unlock as you complete them.
  </h6>
  <div class="card-deck">
    {% for quiz in topic.quizzes %}
      <div class="card mb-4" style="border-width:2px">
        <div class="card-body d-flex flex-column">
          <div class="topicCardTitle">
            <h4 class="card-title">{{ quiz.name }}</h4>
            {% if quiz.id < current_user.quiz.id %}
              <img src="/static/images/checkmark.png" class="topicCardCheck">
            {% endif %}
          </div>
          <p class="card-text comma ellipsis">
            {% for sentence in quiz.sentences %}
              {% if loop.index < 6 %}
                <span>{{ sentence.text }}</span>
              {% endif %}
            {% endfor %}
          </p>

          {% if quiz.id < current_user.quiz.id %}
            <a href="{{ url_for('quiz.ask', id=quiz.id) }}"
              class="btn btn-secondary align-self-center mt-auto"
              role="button">
              Redo
            </a>
          {% elif quiz.id == current_user.quiz.id %}
            <a href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
              class="btn btn-primary align-self-center mt-auto"
              role="button">
              Begin
            </a>
          {% else %}
            <a href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
              class="btn btn-secondary disabled align-self-center mt-auto"
              role="button">
              Locked
            </a>
          {% endif %}
        </div>
      </div>
      {% if loop.index % 3 == 0 %}
        </div> <!-- Close current card-deck -->
        <div class="card-deck">
      {% endif %}
    {% endfor %}
  </div> <!-- Close last card-deck -->
</div>

