{% extends "base.html" %}

{% block body %}
<style>
  .topicPie {
    stroke-dasharray: {{ topic_progress }} 100;
  }
</style>

<div class="container">
  <h1>Dashboard</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md card text-center">
      {% for topic in topics %}
        {% if topic.id < current_topic.id %}
          <div class="card-block">
            <a href="{{ url_for('topic.topic', id=topic.id) }}">
              <div width="32" height="32" class="topicPieComplete"></div>
              <br />
              {{ current_topic.name }}
            </a>
          </div>
        {% elif topic == current_topic %}
          <div class="card-block">
            <a href="{{ url_for('topic.topic', id=topic.id) }}">
              <!--https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/-->
              <svg class="topicPieContainer" viewBox="0 0 32 32">
                <circle class="topicPie" r="15.915" cx="15.915" cy="15.915" />
              </svg>
              <br />
              {{ topic.name }}
              {{ progress }} / {{ topic_size }}
            </a>
          </div>
        {% elif topic.id > current_topic.id %}
          <div class="card-block">
            <div width="32" height="32" class="topicPieLocked"></div>
            <br />
            {{ topic.name }}
            0 / {{ topic.quizzes|length }}
          </div>
        {% endif %}
      {% endfor %}
    </div><!-- /.blog-main -->

    <div class="offset-md-1 hidden-sm-down" style="flex: 0 0 300px;">
      <div class="card card-block">
        <h4 class="card-title">Progress</h4>
        <h6 class="card-subtitle mb-2 text-muted">Learning a language requires practice every day.</h6>
        <div class="dashboardXPChartContainer">
          <canvas id="xpChart" width="300" height="225"></canvas>
        </div>
      </div>
      {% if current_user.username == None %}
        <div class="card card-block mt-5">
          <h4 class="card-title">Sign up</h4>
          <h6 class="card-subtitle mb-3 text-muted">Create a profile to save your progress.</h6>
          <a class="btn btn-lg btn-success mb-2"
             href="{{ url_for('auth.register') }}"
             role="button"
          >
            Create a profile
          </a>
          <a class="btn btn-lg btn-primary"
             href="{{ url_for('auth.login') }}"
             role="button"
          >
            Sign in
          </a>
        </div>
      {% endif %}
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script>
var labels = {{ days|tojson }};
var data = {{ daily }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>xpChart()</script>
{% endblock %}
