{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Dashboard</h1>
  <p class="lead">An empty dashboard.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <div class="doughnutChartContainer">
        <canvas id="doughnutChart" width="200" height="200"></canvas>
      </div>
    </div><!-- /.blog-main -->

    <div class="col-sm-4 offset-sm-1">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Progress</h4>
          <h6 class="card-subtitle mb-2 text-muted">Learning a language requires practice every day.</h6>
          <div class="dashboardXPChartContainer">
            <canvas id="xpChart" width="300" height="225"></canvas>
          </div>
        </div>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script>
var labels = {{ days|tojson }};
var data = {{ daily }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>
var donutContext = document.getElementById('doughnutChart').getContext('2d');
var donutData = {
    datasets: [
        {
            data: {{ data }},
            backgroundColor: [
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#36A2EB",
                "#FFCE56"
            ]
        }
     ]
};
var options = {
  tooltips: {
    enabled: false
  }
}
  var myDoughnutChart = new Chart(donutContext, {
    type: 'doughnut',
    data: donutData,
    options: options
  });
</script>
<script>xpChart()</script>
{% endblock %}
