{% extends "base.html" %}

{% block body %}
<div class="blog-header">
  <div class="container">
    <h1>Dashboard</h1>
    <p class="lead">An empty dashboard.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="doughnutChartContainer">
        <canvas id="doughnutChart" width="200" height="200"></canvas>
      </div>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 offset-sm-1r">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
      <div class="sidebar-module">
        <h4>Archives</h4>
        <ol class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
        </ol>
      </div>
      <div class="sidebar-module">
        <h4>Elsewhere</h4>
        <ol class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ol>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
var ctx = document.getElementById('doughnutChart').getContext('2d');
var data = {
    datasets: [
        {
            data: {{ data }},
            backgroundColor: [
                "#36A2EB",
                "#FFCE56"
            ],
            hoverBackgroundColor: [
                "#36A2EB",
                "#FFCE56"
            ]
        }
     ]
};
var options = {
  tooltips: {
    enabled: false
  }
}
  var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: options
  });
</script>
{% endblock %}
