{% extends "base.html" %}

{% block body %}
<div class="container">
  <section class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    {% if form.errors %}
      <div class="has-error"><strong>Unable to login. Typo?</strong></div>
    {% endif %}
    <form method=post>
      {{ form.hidden_tag() }}
      <dl>
        <dd>{{ form.email_or_username(id="inputEmail", class="form-control", placeholder="Email or Username", maxlength=128)}}
        <dd>{{ form.password(id="inputPassword", class="form-control", placeholder="Password") }}
        <dt>{{ form.submit(class="btn btn-lg btn-primary btn-block") }}
      </dl>
    </form>
    <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
  </section>
</div>
{% endblock %}
