{% extends "quiz_base.html" %}

{% block right_col %}
<h4 class="mb-4 list-group-item disabled">
  <span class="answer">{{answer.text}}</span>
</h4>
{% endblock %}

{% block card_bottom %}
{% if answer.is_correct or answer.is_correct is none %}
  <div class="card-block rounded-bottom alert-success" style="background-color: #def0a5">
{% else %}
  <div class="card-block rounded-bottom alert-danger" style="background-color: #ffd4cc">
{% endif %}
  <div class="row">
    {% if answer.is_correct %}
      <div class="success col-auto d-flex" style="color:#7eb530">
        <img class="quiz-checkmark" src="/static/images/correct.svg">
        <span class="ml-3">You are correct</span>
      </div> <!-- col -->
      <audio src="/static/audio/correct.mp3" autoplay></audio>
    {% elif answer.is_correct is none %}
      <div class="success col d-flex" style="color:#7eb530">
        <img class="quiz-checkmark" src="/static/images/correct.svg">
        <div class="ml-3">
          <strong>You have a typo.</strong> Correct solutions:<br />
          <ul>
          {% for translation in question.translations %}
            <li>{{ translation.text }}</li>
          {% endfor %}
          </ul>
        </div>
      </div> <!-- col -->
      <audio src="/static/audio/correct.mp3" autoplay></audio>
    {% else %}
      <div class="error col- d-flex" style="color:#dd381d">
        <img class="quiz-checkmark" src="/static/images/incorrect.svg">
        <div class="ml-3">
          <strong>Correct solutions:</strong><br />
          <ul>
          {% for translation in question.translations %}
            <li>{{ translation.text }}</li>
          {% endfor %}
          </ul>
        </div>
      </div> <!-- col -->
      <audio src="/static/audio/incorrect.mp3" autoplay></audio>
    {% endif %}

    <div class="col align-self-end">
      <button
        class="btn btn-lg btn-success float-right mt-auto"
        role="button"
        onclick="nextQuestion('{{ url_for('quiz.ask', id=quiz.id) }}')"
        autofocus
      >
        Continue
      </button>
    </div> <!-- col -->
  </div> <!-- row -->
</div>
{% endblock %}
