{% extends "quiz_base.html" %}

{% block right_col %}
<form class="form-quiz" method=post>
  {{ form.hidden_tag() }}

  <label class="sr-only" for="answer">Answer</label>
  {{ form.answer(class="form-control", id="answer", type="text", autocomplete="off", spellcheck="false", placeholder="Enter your translation", value="", maxlength=128) }}
  {{ form.submit(class="hidden") }}
  {% if form.errors %}
    <div class="has-error"><strong>Your translation was too short or too long.</strong></div>
  {% endif %}
</form>
{% endblock %}
