{% extends "base.html" %}

{% block js %}
<script src="{{ url_for('static', filename='js/quiz.js') }}"></script>
<script> // Don't know why this code doesn't work when placed in site.js...
  $(function() {
    // Enables popover
    $("#hintpopover").popover({
      html : true,
      content: function() {
        return $("#user-popover-content").html();
      },
      title: "Where to?"
    });
  });
</script>
{% endblock %}

{% block body %}
<section class="header">
  <h2 class="title">{{answerlist.title|title}}</h2>
  <h3>{{englishphrase.phrase}}</h3>

  {% if unknown %}
    <a
     id="hint-popover"
     href="#"
     tabindex="0"
     data-placement="bottom"
     data-trigger="focus"
    >
      ?
    </a>
    <ul id="user-popover-content" class="hidden">
      {% for phrase in englishphrase.latin_translations %}
        <li class="list-group-item">{{ phrase.phrase }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="row">
    <div class="six columns">
      {% if form.errors %}
        <div class="has-error"><strong>Translations should neither be empty nor be longer than 128 characters.</strong></div>
      {% endif %}
      <form method=post>
        {{ form.hidden_tag() }}
        <dl>
          <dd>{{ form.answer(class_="u-full-width", autocomplete="off", placeholder="Enter your translation", value="", maxlength=128) }}
          <dt>{{ form.submit }}
        </dl>
      </form>
    </div>

    <div class="row">
      <div class="one-half column open-todos">
        <h6 class="docs-header">{{ answerlist.correct_count }} correct</h6>
        <ul>
          {% for answer in answerlist.answers %}
            {% if answer.is_correct %}
              <li>{{ answer.text }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="one-half column finished-todos">
        <h6 class="docs-header">{{ answerlist.incorrect_count }} incorrect</h6>
        <ul>
          {% for answer in answerlist.answers %}
            {% if not answer.is_correct %}
              <li>{{ answer.text }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
