{% extends "quiz_base.html" %}

{% block right_col %}
<h4 class="mb-4 list-group-item disabled">
  <span class="answer">{{answer.text}}</span>
</h4>
{% endblock %}

{% block card_bottom %}
{% if answer.is_correct or answer.is_correct is none %}
  <div class="card-block rounded-bottom alert-success" style="background-color: #def0a5">
{% else %}
  <div class="card-block rounded-bottom alert-danger" style="background-color: #ffd4cc">
{% endif %}
  <div class="row">
    {% if answer.is_correct %}
      <div class="col-lg-1">
        <img src="/static/images/correct.svg">
      </div> <!-- col -->
      <div class="success col-lg-5" style="color:#7eb530">You are correct</div> <!-- col -->
      <audio src="/static/audio/correct.mp3" autoplay></audio>
    {% elif answer.is_correct is none %}
      <div class="col-lg-1">
        <img src="/static/images/correct.svg">
      </div> <!-- col -->
      <div class="success col-lg-5" style="color:#7eb530">
        <strong>
          You have a typo.<br />
          Correct solutions:
        </strong><br />
        {% for translation in question.translations %}
          {{ translation.text }}<br />
        {% endfor %}
      </div> <!-- col -->
      <audio src="/static/audio/correct.mp3" autoplay></audio>
    {% else %}
      <div class="col-lg-1">
        <img src="/static/images/incorrect.svg">
      </div> <!-- col -->
      <div class="error col-lg-5" style="color:#dd381d">
        <strong>Correct solutions:</strong><br />
        {% for translation in question.translations %}
          {{ translation.text }}<br />
        {% endfor %}
      </div> <!-- col -->
      <audio src="/static/audio/incorrect.mp3" autoplay></audio>
    {% endif %}

    <div class="col-lg-6 align-self-end">
      <button
        class="btn btn-lg btn-success float-right mt-auto"
        role="button"
        onclick="nextQuestion('{{ url_for('quiz.ask', id=quiz.id) }}')"
        autofocus
      >
        Continue
      </button>
    </div> <!-- col -->
  </div> <!-- row -->
</div>
{% endblock %}
