{% extends "base.html" %}

{% block body %}
<div class="card quiz">
  <div class="card-block">
    <h1 class="mb-4 text-center">{{ quiz.name }}</h1>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{progress}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h4 class="mb-4 text-center list-group-item">
          {% if unknown %}
          <span
            class="question underline"
            id="hint-popover"
            tabindex="0"
            data-placement="bottom"
            data-trigger="hover"
          >
            {{question.text}}
          </span>

          <ul id="hint-popover-content" class="hidden">
            {% for translation in question.translations %}
              <li class="list-group-item">{{ translation.text }}</li>
            {% endfor %}
          </ul>
          {% else %}
          <span class="question">{{question.text}}</span>
          {% endif %}
        </h4>
      </div> <!-- col -->

      <div class="col-lg-6">
        {% block right_col %}{% endblock %}
      </div> <!-- col -->
    </div> <!-- row -->
  </div>
  {% block card_bottom %}{% endblock %}
</div>
{% endblock %}

{% block js %}
<script src="/static/js/quizzes.js"></script>
<script>
// Don't know why this code doesn't work when placed in quiz.js...
  $(function() {
    // Enables popover
    $("#hint-popover").popover({
      html : true,
      content: function() {
        return $("#hint-popover-content").html();
      },
    });
  });
</script>
{% endblock %}