{% extends "base.html" %}

{% block body %}
<div class="card quiz">
  <div class="card-block">
    <h1 class="mb-4 text-center">Hooray!</h1>
    <h2 class="mb-4 text-center">You've earned {{ score }} aurei!</h2>
    <div class="row vdivide">
      <div class="col">
        <div class="coin-container" style="padding: 50px;">
        </div>
      </div>
      <div class="col">
        <div class="xpChartContainer">
          <canvas id="xpChart" width="400" height="300"></canvas>
        </div>
      </div>
    </div>
    <button class="btn btn-lg btn-success float-right" role="button" onclick="nextQuestion('{{ url_for('quizzes.ask', id=id) }}')" autofocus>Continue</button>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  var labels = {{ days|tojson }};
  var data = {{ daily }};
  var score = {{ score }};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script src="/static/js/victory.js"></script>
{% endblock %}
