{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md card mx-3 px-0"><!-- main =-->
    <div class="card-block pb-1">
      <div class="d-flex flex-row">
        <div>
          <h4 class="card-title">Store</h4>
          <h6 class="card-subtitle mb-4 text-muted">Spend your aurei at the store.</h6>
        </div>
        <div class="ml-auto"><a href="{{ referrer }}" class="btn btn-sm btn-danger">Leave store</a></div>
      </div>
      <ul class="list-group">
        {% for product in products %}
          <li class="list-group-item d-flex w-100 mb-3"style="border-width: 2px" >
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1" style="font-weight:bold">{{ product.name }}</h5>
              <small>{{ product.price }}</small>
            </div>
            <div class="d-flex w-100 mb-1">{{ product.description }}</div>
            <div class="d-flex w-100 justify-content-end mb-1">
              {% if product.available %}
                <button type="button" class="btn btn-sm btn-success" id="{{ product.name | lower | replace(' ', '_') }}">
                  Get for: {{ product.total_price }}
                </button>
              {% else %}
                <a href="#" class="btn btn-sm btn-secondary disabled">
                  Get for: {{ product.total_price }}
                </a>
              {% endif %}
            </div>
          </li>
        {% endfor %}
        <li class="list-group-item d-flex w-100 mb-3"style="border-width: 2px" >
          <h5 class="mb-1" style="font-weight:bold">Something else?</h5>

          <div class="d-flex w-100 mb-1">More choices coming soon!</div>
          <div class="d-flex w-100 justify-content-end mb-1">
              <button class="btn btn-sm btn-secondary disabled">
                Unavailable
              </button>
          </div>
        </li>
      </ul>
    </div>
  </div><!-- main =-->

  <div class="col-md hidden-md-up">&nbsp;</div> <!-- separate the columns when stacked -->

  <div class="col col-md-5 col-lg-4"><!-- sidebar -->
    {% include 'common/_progress_chart.html' %}
    {% include 'common/_account.html' %}
  </div><!-- /sidebar -->
</div><!-- /.row -->

<div class="modal fade" id="profile_pic_modal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Select a profile picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body d-flex justify-content-around flex-wrap">
        {% for picture in pictures %}
          <label>
            {% if current_user.profile_picture == picture.id %}
              <input type="radio" name="picture" value="{{ picture.id }}" checked/>
            {% else %}
               <input type="radio" name="picture" value="{{ picture.id }}"/>
            {% endif %}
            <div class="card mt-3" style="width: 200px">
              <img class="card-img-top img-fluid" src="/static/images/profiles/{{ picture.filename }}" alt="Card image cap">
              <div class="card-block">
                <p class="card-text">{{ picture.name }}</p>
              </div>
            </div>
          </label>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="buy_pic_button" class="btn btn-secondary disabled" disabled="disabled">Buy for 50</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  function updateTripleOrNothingButton(score) {
    // Disable the button if they've run out of cash.
    if (score < 4) {
      $('#triple_or_nothing').attr("disabled", true);
      $('#triple_or_nothing').removeClass("btn-success");
      $('#triple_or_nothing').addClass("disabled btn-secondary");
      $('#triple_or_nothing').text("Unavailable");
      $('#triple_or_nothing').removeAttr("id");
    } else {
      $('#triple_or_nothing').text(`Get for: ${Math.floor(score / 4)}`);
    };
  }
  $('#streak_recovery').click(function(){
    $.get('/api/store/recover_streak/', function(data) {
      $('#1').attr("disabled", true);

      var audio = new Audio('/static/audio/item-bought.mp3');
      audio.play();

      $('#streak').children("span").text(data.streak);
      $('#chart-streak').text(data.streak);
      $('#score').children("span").text(data.total_score);
      $('#streak_recovery').attr("disabled", true);
      $('#streak_recovery').removeClass("btn-success");
      $('#streak_recovery').addClass("disabled btn-secondary");
      $('#streak_recovery').text("Bought");

      updateTripleOrNothingButton(data.total_score);
    });
  });

  $('#triple_or_nothing').click(function(){
    $.get('/api/store/triple_or_nothing/', function(data) {

      if (data.result == 'success') {
        var audio = new Audio('/static/audio/item-bought.mp3');
        audio.play();
      } else {
        var audio = new Audio('/static/audio/item-lost.mp3');
        audio.play();
      }
      $('#score').children("span").text(data.user.total_score);

      updateTripleOrNothingButton(data.user.total_score);
    });
  });

  $('#profile_picture').click(function(){
    $('#profile_pic_modal').modal('show');
  });

  $("input[name=picture]:radio").change(function () {
    if (this.value !== '{{ current_user.profile_picture }}') {
      $('#buy_pic_button').removeClass("disabled btn-secondary");
      $('#buy_pic_button').addClass("btn-success");
      $('#buy_pic_button').attr("disabled", false);
    } else {
      $('#buy_pic_button').attr("disabled", true);
      $('#buy_pic_button').removeClass("btn-success");
      $('#buy_pic_button').addClass("disabled btn-secondary");
    }
  });

  $('#buy_pic_button').click(function(){
    var picture_id = $('input[name=picture]:checked').val()
    $.get('/api/store/profile_pictures/' + picture_id, function(data) {
      var audio = new Audio('/static/audio/item-bought.mp3');
      audio.play();
      $('#score').children("span").text(data.total_score);
      $('.nav-profile-pic').attr("src", "/static/images/profiles/profile-" + data.profile_picture + ".png");

      updateTripleOrNothingButton(data.total_score);

      $('#profile_pic_modal').modal('hide')
      $('#buy_pic_button').attr("disabled", true);
      $('#buy_pic_button').removeClass("btn-success");
      $('#buy_pic_button').addClass("disabled btn-secondary");
    });
  });
</script>

<script>
  var labels = {{ day_names | tojson }};
  var data = {{ daily_scores }};
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script src="/static/js/progress_chart.js"></script>
<script>xpChart()</script>
{% endblock %}
