{% extends "base.html" %}

{% block content %}
<style>
  .topicPie {
    stroke-dasharray: {{ topic_progress }} 100;
  }
  table {
    margin-bottom: 20px;
  }
  td {
    padding-right: 10px;
}
  hr {
    border: 0;
    width: 95%;
    background-color:#DDDDDD;
    height: 2px;
    margin-top: 0px;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-8 card mb-5">
      <div class="card-block">
        <h4 class="card-title">{{topic.name}}</h4>
        <h6 class="card-subtitle mb-4 text-muted">
          Select a quiz to check your progress. Further quizzes unlock as you complete them.
        </h6>
        <div class="card-deck">
          {% for quiz in topic.quizzes %}
            <div class="card mb-4" style="border-width:2px">
              <div class="card-block d-flex flex-column">
                <div class="topicCardTitle">
                  <h4 class="card-title">{{ quiz.name }}</h4>
                  {% if quiz.id < current_user.quiz.id %}
                    <img src="/static/images/checkmark.png" class="topicCardCheck">
                  {% endif %}
                </div>
                <p class="card-text comma ellipsis">
                  {% for sentence in quiz.sentences %}
                    {% if loop.index < 6 %}
                      <span>{{ sentence.text }}</span>
                    {% endif %}
                  {% endfor %}
                </p>

                {% if quiz.id < current_user.quiz.id %}
                  <a
                    href="{{ url_for('quiz.ask', id=quiz.id) }}"
                    class="btn btn-secondary align-self-center mt-auto"
                    role="button"
                   >
                    Redo
                  </a>
                {% elif quiz.id == current_user.quiz.id %}
                  <a
                    href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
                    class="btn btn-primary align-self-center mt-auto"
                    role="button"
                  >
                    Begin
                  </a>
                {% else %}
                  <a
                    href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
                    class="btn btn-secondary disabled align-self-center mt-auto"
                    role="button"
                  >
                    Locked
                  </a>
                {% endif %}
              </div>
            </div>
            {% if loop.index % 3 == 0 %}
              </div> <!-- Close current card-deck -->
              <div class="card-deck">
            {% endif %}
          {% endfor %}
        </div> <!-- Close last card-deck -->
      </div>
      {% if topic.text is not none %}
        <hr>
        <div class="card-block">{{ topic.text | markdown }}</div>
      {% endif %}
    </div><!-- /.main -->

    <div class="col-lg-3 offset-lg-1" style="padding: 0px">
      <div class="card text-center">
        <div  class="card-block">
          <h4 class="card-title">Progress</h4>
          <!--https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/-->
          <svg class="topicPieContainer text-center" viewBox="0 0 32 32">
            <circle class="topicPie" r="15.915" cx="15.915" cy="15.915" />
          </svg>
          <br>
          {{ progress }} / {{ topic_size }} Quizzes completed
        </div>
      </div>
      {% if current_user.username == None %}
        <div class="card card-block mt-5">
          <h4 class="card-title">Sign up</h4>
          <h6 class="card-subtitle mb-3 text-muted">Create a profile to save your progress!</h6>
          <a class="btn btn-lg btn-success mb-2" href="{{ url_for('auth.register') }}" role="button">Create a profile</a>
          <a class="btn btn-lg btn-primary" href="{{ url_for('auth.login') }}" role="button">Sign in</a>
        </div>
      {% endif %}

      {% if recovery.available %}
        <div class="card card-block mt-5">
          <h4 class="card-title">Recover streak</h4>
          <h6 class="card-subtitle mb-3 text-muted">Visit the store to buy back your streak.</h6>
          <a class="btn btn-success mb-2 align-self-center" href="/store" role="button">Visit store</a>
        </div>
      {% endif %}
    </div><!-- /.sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
{% endblock %}
