{% extends "base.html" %}

{% block body %}
<div class="container">
  <h1>Dashboard</h1>
  <p class="lead">An empty dashboard.</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7 card">
      <div class="card-block">
        <h4 class="card-title">{{topic.name}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">Learning a language requires practice every day.</h6>
        <div class="card-deck">
          {% for quiz in topic.quiz %}
          <div class="card">
            <div class="card-block">
              <h4 class="card-title">{{ quiz.name }}</h4>
              <p class="card-text comma fullStop">
                {% for sentence in quiz.sentences %} <span>{{ sentence.text }}</span> {% endfor %}
              </p>

              {% if quiz.id < current_user.quiz.id %}
                <a
                  href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
                  class="btn btn-success disabled"
                 >
                  Complete
                </a>
              {% elif quiz.id == current_user.quiz.id %}
                <a
                  href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
                  class="btn btn-primary"
                >
                  Begin
                </a>
              {% else %}
                <a
                  href="{{ url_for('quiz.ask', id=current_user.quiz.id) }}"
                  class="btn btn-secondary disabled"
                >
                  Locked
                </a>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div><!-- /.blog-main -->

    <div class="col-sm-4 offset-sm-1">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Progress</h4>
          <h6 class="card-subtitle mb-2 text-muted">Learning a language requires practice every day.</h6>
        </div>
      </div>
    </div><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock %}

{% block js %}
{% endblock %}

